    <div class="contents row">

     <div class="tune-explain-box">
      <span><%=@tune.text %></span>
    </div>

    <div class="show-img">
   <%= link_to image_tag(@tune.image) , @tune.url %>
      <p>*画像をクリックするとYouTubeに移動します。</p>
      </div>

       
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者名</th>
          <td class="detail-value">
          <%= link_to @tune.user.nickname, user_path(@tune.user.id) %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">曲名</th>
          <td class="detail-value"><%= @tune.name%></td>
        </tr>
        <tr>
          <th class="detail-item">アーティスト名</th>
          <td class="detail-value"><%= @tune.artist %></td>
        </tr>
        <tr>
          <th class="detail-item">曲のジャンル</th>
          <td class="detail-value"><%= @tune.genre.name %></td>
        </tr>
       </tbody>
    </table>

  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tune, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
    </div>